<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="sqlcon" value="server=localhost;uid=sa;pwd=anil@2007;database=sdms"/>
    <add key="ApplicationName" value="Student Digital Traking System"/>
    <add key="SchoolAddress" value="Navrangpura Ahmedabad,Gujarat"/>
   
  </appSettings>

  <system.web>
    <globalization uiCulture="en" culture="en-IN" />
    <pages theme="SkyHigh" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>